

.profile__avatar-container {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.profile__avatar-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.profile__avatar-container:hover::before{
    opacity: 1;
}

.profile__avatar-container:hover .profile__editAvatar{
    opacity: 1;
}

.profile__editAvatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.profile__avatar {
    width:100%;
    height:100%;
    border-radius:50%;
    cursor: pointer;
}

@media screen and (max-width:320px) and  (max-height:2814px) {
    .profile__avatar {
        width:120px;
        height:120px;
        margin-left:81px;
        border-radius:60%;
        margin-bottom:0;
        padding-bottom:0;
    }
}