
    .rechardCards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        grid-template-rows: auto;
        column-gap: 17px;
        row-gap: 21px;
        width: 100%;
        max-width: 880px;
        margin: 40px auto;
        position: relative;
    }


@media screen and (max-width:320px) and  (max-height:2814px) {
    .rechardCards {
        width: 100%;
        max-width: 282px;
        height: auto;
        margin: 36px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 16px;
        position: relative;
    }

}
