.profile {
    width: 880px;
    height: 120px;
    margin: 40px auto 0;
    display: flex;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) and (max-height: 2814px) {
    .profile {
        width: 282px;
        height: 286px;
        margin-top: 40px;
        margin-left: 19px;
    }
}