    .imageDisplay__close{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    /*width:20px;
    height:20px;
    position:fixed;
    margin-left:840px;
    margin-top:70px;
    border:#000000;
    cursor:pointer;*/
}

@media screen and (max-width:320px) and  (max-height:2814px) {

    .imageDisplay__close{
        width:30px;
        height:30px;
        margin-left:290px;
        margin-top:100px;
    }
}